/*  BRAND GUILDLINE


*/

:root {
  /* 
  Primary | Brand | Blue

  */
  --primary-100: #ffffff;
  --primary-98: #f5f9fe;
  --primary-95: #e7f0fe;
  --primary-90: #cfe1fc;
  --primary-80: #9ec3fa;
  --primary-70: #6ea5f7;
  --primary-60: #3d87f5;
  --primary-50: #0d69f2;
  --primary-40: #0a54c2;
  --primary-30: #0e418b;
  --primary-20: #092b5d;
  --primary-10: #05162e;

  /* SHADES
   */


  --shades-90: #E1E5EA;
  --shades-70: #A6B0BF;
  --shades-50: #6B7C94;
  --shades-30: #404A59;
  --shades-10: #15191e;

}

@font-face {
  font-family: supreme-thin;
  src: url("../fonts/Supremell/SupremeLL-Thin.otf");
}
@font-face {
  font-family: supreme-light;
  src: url("../fonts/Supremell/SupremeLL-Light.otf");
}

@font-face {
  font-family: supreme-medium;
  src: url("../fonts/Supremell/SupremeLL-Medium.otf");
}
@font-face {
  font-family: supreme-regular;
  src: url("../fonts/Supremell/SupremeLL-Regular.otf");
}

@font-face {
  font-family: supreme-bold;
  src: url("../fonts/Supremell/SupremeLL-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-98);
}

a,
p,
h3,
h4,
h5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
}

.content_wraper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}

.layout_comp {
  padding: 10vh 0px;
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.nav_items {
  display: flex;
  justify-content: space-between;

  /* padding: 10px 0; */
}

.nav_wrapers {
  display: flex;
  padding: 10px 0px 5px 0px;
  align-items: center;
}

/* -------NAVBAR LINKS - Padding */
.nav_buttons {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

/* ------- NAVBUTTON - ---*/

/* ------- BUTTON COMPONENTS ----- */

/* DEFAULT BTN COMPONENT */
.btn {
  display: inline-flex; /* Ensures the button takes up space correctly */
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */
  padding: 15px 25px;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  border: none; /* Ensures no unwanted border differences */
  border-radius: 80px;
  /* height: 100%; Ensures consistency in height */
  color: var(--primary-10);
}
/* BTN HOVER STATE */
.btn:hover {
  background-color: var(--primary-95);
  color: var(--primary-40);
  font-weight: 800;
}

.btn-primary {
  background-color: var(--primary-40);
  color: var(--primary-98);
  box-sizing: unset;
}
.btn-primary:hover {
  background-color: var(--primary-30);
  color: var(--primary-98);
}

.btn-secondary {
  border: 2px solid var(--primary-10);
  color: var(--primary-10);
}

.btn-ghost {
  color: var(--primary-40);
}

/* ----------------   HEADER SECTION ----------  */

.header_sec {
  display: flex;
  padding-bottom: 10vh;
  /* background-color: skyblue; */
}

.header_info {
  flex: 1.25;
}
.header_img {
  flex: 1;
}

/* -----------HEADER INFO ---------- */

.text-header {
  font-family: supreme-bold;
  /* font-optical-sizing: auto; */
  /* font-weight: 800; */
  /* font-style: normal; */
  font-size: 5.35rem;
  line-height: 1.1;
  color: var(--primary-10);
  padding-top: 10px;
  padding-bottom: 50px;
}

.body_text {
  line-height: 2;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-10);
}

.body_text0 {
  margin-right: 10%;
  padding-bottom: 50px;
}

/* -----------HEADER IMG ---------- */

.header_img {
  /* height: 500px; */
  /* background-color: #e7e7e7; */
  /* border-radius: 10px; */
  /* position: absolute; */
  /* margin-left: 50%; */
  box-sizing: unset;
}

/* ----------- SPONCER SECTION ----------- */
.sponcer_border {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.199),
    rgba(255, 255, 255, 0)
  );
  padding: 2px 0px;
}
.sponcer_borderline {
  background-color: rgb(255, 255, 255);
}
.sponcer_sec {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

/* ---------------SECTION 2 ---------------- */
.sec_1 {
  text-align: center;
}

.text-h2 {
  /* font-family: "DM Sans", sans-serif; */
  font-family: supreme-bold;
  /* font-optical-sizing: auto; */
  /* font-weight: 800; */
  /* font-style: normal; */
  font-size: 3.35rem;
  line-height: 1.1;
  color: var(--primary-10);
  padding-top: 10px;
  padding-bottom: 30px;
}
.sec_1_h2 {
  margin: 0px 25%;
}
.body_text1 {
  margin: 0px 20%;
  padding-bottom: 50px;
}

/* ------ SEC 1 IMAGE--------- */
.sec_1_img {
  display: flex;
}

.sec_1_imgs_1,
.sec_1_imgs_2 {
  height: 60vh;
  border-radius: 10px;
  background-color: #e7e7e7;
}
.sec_1_imgs_1 {
  flex: 1;
  margin-right: 10px;
}
.sec_1_imgs_2 {
  flex: 2;
}

/* --------- SEC 2 ------------ */

.sec_2_cont {
  display: flex;
  align-items: center;
}

.sec_2_img {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.sec_2_img_1,
.sec_2_img_2,
.sec_2_img_3 {
  height: 60vh;
  width: 32.8%;
  /* flex: 1; */
  padding-left: 10px;
  border-radius: 10px;
  background-color: #e7e7e7;
}

/* --------------- SECTION 3 ---------- */
.sec_3_bg {
  background-color: var(--primary-10);
  padding: 5vh 0px;
  /* height: 40vh; */
  width: 100%;
  /* align-items: center; */
}

.sec_3 {
  display: flex;
}
.sec_3_1,
.sec_3_2 {
  height: 20vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sec_3_3 {
  flex: 2;
}

.sec_3 h2,
.sec_3 p,
.sec_3 h3 {
  color: white;
}

.text-h3 {
  /* font-family: "DM Sans", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-weight: 300; */
  font-family: supreme-light;
  font-style: normal;
  font-size: 5.5rem;
  line-height: 1.1;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* -------------- SECTION 4 ------------ */

.sec_4 {
  display: flex;
}

.sec_4_1,
.sec_4_2 {
  flex: 1;
}

.sec_4_1 h2 {
  padding-right: 30%;
}

.text-h5 {
  /* font-family: "DM Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--primary-70);
  line-height: 1.1;
}
h4 {
  /* font-family: "DM Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--primary-10);
  line-height: 1.1;
}

.sec_card_1 {
  display: flex;
  justify-content: space-between;
}

.sec_card_1,
.sec_card_2 {
  align-items: center;
  padding: 4vh 0px;
  border-bottom: solid 1px rgba(139, 139, 139, 0.274);
}

.sec_card_2_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5vh;
}

.sec_4 i {
  font-size: 1.5rem;
  color: var(--primary-20);
  font-weight: 400;
}

/* ------------ SECTION 5 --------- */
.sec_5 {
  background-color: var(--primary-10);
  /* height: 500px; */
  display: flex;
  align-items: center;
}

.sec_5_2 {
  background-color: #e7e7e71e;
}

.sec_5_1 {
  flex: 2;
  margin: 5vh 10vh;
}

.sec_5_2 {
  flex: 1;
  height: 520px;
}
.sec_5_1 h2 {
  color: white;
}

.sec_5_1 p {
  color: #dfdfdf;
}
/* .sec_5_1 a {
  background-color: white;
  color: #1b3e39;
  font-weight: 600;
} */

.sec_5_1 p {
  padding-bottom: 10%;
}

/* ----------------- FOOTER ----------------- */
footer {
  /* height: 450px; */
  padding: 50px 0px 10px 0px;
  background-color: var(--primary-10);
}

.footer_wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
}

footer a,
footer p {
  color: var(--primary-90);
}
footer h4 {
  color: var(--primary-98);
}

.ftr_1 {
  display: flex;
}
.f_1 {
  flex: 2;
}

.ftr_list {
  display: flex;
  justify-content: space-between;
}

.ftr_list h4 {
  padding-bottom: 30px;
  font-size: 1.2rem;
}
.ftr_list li {
  padding-bottom: 15px;
}
.ftr_list a {
  font-size: 0.9rem;
}

.f_2 {
  flex: 1;
  margin-right: 50px;
  gap: 10px;
}
.f_2_p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.5;
  padding-bottom: 3vh;
}

.footer-inputs{
  background-color: var(--primary-10);
  padding: 15px 25px;
  color: var(--primary-90);
  font-family: "Plus Jakarta Sans", sans-serif;
  border: 1px solid var(--primary-90);
}

.footer-input-1::placeholder {
  color: var(--primary-90);
}


/* --------- BOTTOM LINKS --------- */
.ftr_2 {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px var(--shades-30);
  padding: 20px;
}

.ftr_2 p,
.ftr_2 a {
  font-size: 0.8rem;
}

.ftr_2 a {
  padding-right: 20px;
}

.test {
  justify-content: space-evenly;
}
