/*  BRAND GUILDLINE
-----  PRIMARY      | 1B3E39
-----  SECONDARY    | 
-----  PRIMARY      |
-----  GREY         | 696969




 */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
a {
  color: black;
  font-family: "Poppins", sans-serif;
}

.content_wraper {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

.layout_comp {
  padding: 15vh 0px;
}

nav {
  /* position: sticky; */
  top: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.nav_items {
  display: flex;
  justify-content: space-between;
}

.nav_wrapers {
  display: flex;
  align-items: center;
}

/* -------NAVBAR LINKS - Padding */
.nav_links p {
  padding: 0px 10px;
}

/* ------- NAVBUTTON - ---*/
.nav_buttons a:nth-child(2) {
  color: white;
}

/* ------- BUTTON COMPONENT ----- */
.pri_btn {
  padding: 25px 35px;
  /* margin-left: 20px; */
  border-radius: 80px;
  background-color: #1b3e39;
  color: white;
}
.nav_buttons a:nth-child(1) {
  padding: 15px 25px;
}

/* ----------------   HEADER SECTION ----------  */

.header_sec {
  display: flex;
  padding-bottom: 30vh;
}

.header_info {
  flex: 1;
}
.header_img {
  flex: 1;
}

/* -----------HEADER INFO ---------- */
.p_top {
  font-size: 1.3rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 5.35rem;
  line-height: 1.1;
  color: #1b3e39;
  padding-top: 10px;
  padding-bottom: 50px;
}

.body_text {
  line-height: 2;
  font-size: 1.2rem;
  color: #6c6c6c;
}

.body_text0 {
  margin-right: 10%;
  padding-bottom: 50px;
}

/* -----------HEADER IMG ---------- */

.header_img {
  width: 300px;
  height: 500px;
  background-color: #e7e7e7;
  border-radius: 10px;
}

/* ----------- SPONCER SECTION ----------- */
.sponcer_border {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.199),
    rgba(255, 255, 255, 0)
  );
  padding: 2px 0px;
}
.sponcer_borderline {
  background-color: rgb(255, 255, 255);
}
.sponcer_sec {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.sponcer_img {
}

/* ---------------SECTION A ---------------- */
.sec_1 {
  text-align: center;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 3.35rem;
  line-height: 1.1;
  color: #1b3e39;
  padding-top: 10px;
  padding-bottom: 30px;
}
.sec_1_h2 {
  margin: 0px 25%;
}
.body_text1 {
  margin: 0px 20%;
  padding-bottom: 50px;
}

/* ------ SEC 1 IMAGE--------- */
.sec_1_img {
  display: flex;
}

.sec_1_imgs_1,
.sec_1_imgs_2 {
  height: 60vh;
  border-radius: 10px;
  background-color: #e7e7e7;
}
.sec_1_imgs_1 {
  flex: 1;
  margin-right: 10px;
}
.sec_1_imgs_2 {
  flex: 2;
}

/* --------- SEC 2 ------------ */

.sec_2_cont {
  display: flex;
  align-items: center;
}

.sec_2_img {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.sec_2_img_1,
.sec_2_img_2,
.sec_2_img_3 {
  height: 60vh;
  width: 32.8%;
  /* flex: 1; */
  padding-left: 10px;
  border-radius: 10px;
  background-color: #e7e7e7;
}
